<%= image_tag("/assets/AdobeStock_163003185.jpeg", width: '2000px')%>

<center><br><h1>Wellness Centers</h1></center>
<% @wellnesscenters.each do |wellness_center|%>

<div class="container">
  <h1> </h1>
  <br>
    <div class="row">
      <div class="col-md-12" style="background-color:rgb(240, 240, 240);">
          <center><br><%= link_to wellness_center.name, wellness_center_path(wellness_center.id)%><br></center>
          <center><%= wellness_center.bio %><br><br></center>
        </div>
       </div>
    </div>   
<%end%>