<h1> Welcome<%= + "  " +@user.username.capitalize %></h1>

<%= button_to "Reservations"%>
<%= button_to "View Black Owned Restaurants", { :controller => 'restaurants', :action => 'index'} %>
<%= button_to "View Black Owned Wellness Centers"%>
