<h1>Current Reservations</h1>

<% @user.restaurant_reservations.each do |reservation|%>
<%= link_to reservation.restaurant_name, restaurant_path(reservation.restaurant_id) %><br>
<%= reservation.date %><br>
<%= reservation.time %><br><br>

<%= link_to "Edit Reservation", edit_restaurant_reservation_path(reservation.restaurant_reservations.id) , method: :get%>
<%end%>


