<br><br><h1 style="text-align:center;"><b>About Spotz</b></h1><br>

<p class style="text-align:center;"><b>Finding Black Bliss with Wellness and Food</b></p><br>

<p style="text-align:center;">Spotz was developed in July of 2020 by two extraordinary black Software Engineers, <br>

Manon Sainton and Shawnae Johnson. Believing in empowering the black community, and enduring <br>

long continuous hours at Flatiron School, Spotz was made to give the black community a space to <br>

find the best black owned restaurants, yoga, and fitness centers to improve life in the time of Covid-19. </p>